<footer class="footer">
  <div class="container">
    <div  class="btn-toolbar">
    <button class="btn btn-default">Recipe Book</button>
    <div class="btn-group dropup" appDropdown>
      <button type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown">
        Assigments
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Components</a>
        </li>
        <li>
          <a href="#">Databinding</a>
        </li>
        <li>
          <a href="#">Directives</a>
        </li>
        <li>
            <a href="#">Property,Event Binding,View Encapsulation</a>
          </li>
          <li>
            <a href="#">Template-Driven Forms</a>
          </li>
          <li>
            <a href="#">Reactive Forms</a>
          </li>
          <li>
              <a href="#">Pipes</a>
            </li>
        <li role="separator" class="divider"></li>
        <li>
          <a>Select Assigments Above</a>
        </li>
      </ul>
    </div>
    <div class="btn-group dropup" appDropdown>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Tutorials
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">Action</a>
        </li>
        <li>
          <a href="#">Another action</a>
        </li>
        <li>
          <a href="#">Something else here</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</footer>
