<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddIng(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input class="form-control" id="name" ngModel type="text" name="name" required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input class="form-control" id="amount" ngModel type="number" name="amount" required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 form-group">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{editMode?'Update':'Add'}}</button>
          <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDeleteIng()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClearIng()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
